body { 
	width: 100%;
	height: 100%;
	background-color: gold;
}

.container { 
	background-color: black;
	color: white;
	width: 98.5%;
	height: 1000px;
	margin: 0.8em auto;
	font-family: 'Lato', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

@font-face { 
	font-family: Samarkan-Normal; src: url('../fonts/Samarkan-Normal.ttf');
}

.nav { 
	text-align: right;
	margin-bottom: 1rem;
	position: relative;
	height: 5%;
	padding: 2em;
}

.new { 
	padding: .35rem;
	font-size: 1.3rem;
	font-weight: bold;
	font-family: 'Lato';
}

.new:hover { 
	background-color: mediumorchid;
	border: 2px solid white;
}

.intro { 
	text-align: center;
	margin-bottom: 2rem;
}

.intro h1 { 
	font-family: Samarkan-Normal;
	font-size: 5rem;
	color: gold;
}

.intro h2 { 
	font-family: 'Lato';
	font-weight: bold;
	font-size: 1.4rem;
	margin-top: .1rem;
	color: mediumorchid;
}

a:hover { 
	cursor: pointer;
}

.play-area { 
	height: 50%;	
}

.start { 
	text-align: center;
	width: 10%;
	margin: 0 auto;
	font-size: 3.5rem;
	font-family: 'Lato';
	font-weight: bold;
	margin-top: 14%;
}

.start-button { 
	background-color: gold;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: .5rem;
	padding-bottom: .5rem;
	border: 3px solid white;
	border-radius: .4rem;
}

.start-button:hover, .submit-button:hover, .continue:hover, .play-again:hover  { 
	background-color: mediumorchid;
}

.continue:hover { 
	background-color: mediumorchid;
}

.question { 
	width: 40%;
	margin: 5%;
	margin-top: 3%;
	font-family: 'Lato';
	font-weight: bold;
}

.question h2 p { 
	display: inline-block;
}

.question h2 { 
	font-size: 1.2rem;
	margin-bottom: 1rem;
}

.question h3 { 
	font-size: 2rem;
	margin-bottom: 2rem;
}	

.answers { 
	font-size: 1.7rem;
	margin-bottom: .8rem;
	color: gold;
}


.submit { 
	margin: 0 auto;
	text-align: center;
	width: 5%;
	font-size: 2rem;
	font-family: 'Lato';
	font-weight: bold;
	margin-top: 5%;
}

.submit-button { 
	text-align: center;
	background-color: gold;
	padding: .5rem;
	border: 3px solid white;
	border-radius: .4rem;
}

.answer-screen { 
	width: 70%;
	margin: 0 auto;
	margin-top: 3%;
	margin-bottom: 0%;
	text-align: center;
}

.answer-screen h2 { 
	font-size: 2rem;
	margin-bottom: 2rem;
	font-weight: bold;
}

.answer-screen p { 
	font-size: 1.7rem;
	margin-bottom: 2%;
}

.answer-screen img { 
	margin-bottom: 4%;
}

.continue, .play-again { 
	font-size: 2rem;
	font-weight: bold;
	background-color: gold;
	padding: .5rem;
	border: 3px solid white;
	border-radius: .4rem;
	text-align: center;
	margin-bottom: 10%;
}

.score { 
	margin-left: 5%;
}

.score p { 
	display: inline-block;
	margin-right: 5px;
	font-size: 2rem;
}

.finish-screen { 
	width: 70%;
	margin: 0 auto;
	margin-top: 3%;
	margin-bottom: 0%;
	text-align: center;
}

.finish-screen h2 { 
	font-size: 2rem;
	margin-bottom: 4rem;
	margin-top: 5rem;
	font-weight: bold;
}

.finish-screen h3 { 
	font-size: 2rem;
	margin-top: 5rem;
	margin-bottom: 4rem;
	font-weight: bold;
	color: mediumorchid;
}

.film-title { 
	font-style: italic;
}
